.popup #musicPlayer{
    position: fixed;
    background: #FAFAFA;
    bottom: 22px;
    width: 200px;
    height: 250px;
    border-radius: 12px;
    z-index: 2;
    padding: 15px;
    box-shadow: 1px 4px 5px #0D2C5415;
    left: 5%;
}